<% if driver_signed_in? %>
  <div class="favorite-button">
    <% if advertisement.favorited_by?(current_driver) %>
      <%= link_to advertisement_favorites_path(advertisement.id), method: :delete, remote: true, class: "favorite-link is-favorited" do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to advertisement_favorites_path(advertisement.id), method: :post, remote: true, class: "favorite-link" do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
