<% if sponsor_signed_in? %>
  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      <i class="far fa-user icon"></i>フォロー
      <i class="dropdown icon"></i>
      <div class="menu">
        <% if current_sponsor.following(@driver) %>
          <%= link_to 'フォローを外す', relationships_path(@driver), method: :delete, remote: true, class: "item" %>
        <% else %>
          <%= link_to 'フォローする', relationships_path(@driver), method: :post, remote: true, class: "item" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>