<div class="ui vertical menu">
  <h4 class="header item">ジャンル検索</h4>

  <% genres.each do |genre| %>
    <a class="item side-menu" href="<%= genre_index_advertisement_path(genre.id) %>">
      <%= genre.name %>
    </a>
  <% end %>
</div>
