<div class="ui grid">
	<div class="four wide column">
		<% if sponsor_signed_in? %>
			<%= render 'sponsors/profile', sponsor: @sponsor %>
		<% elsif driver_signed_in? %>
			<%= render 'drivers/sidebar' , driver: @driver %>
		<% end %><br>
			<%= render "advertisements/genre_templete", genres: @genres %>
		</div>
	<div class="twelve wide column">
		<%= render 'advertisements/index', advertisements: @advertisements %>
	</div>
</div>
