<div class="row">
	<div class="col-xs-3">
			<%= render "advertisements/genre_templete", genres: @genres %>
		</div>
	<div class="col-xs-8">
		<h3 class="genre-name">検索結果 > <%= @genre.name %></h3>
			<%= render 'advertisements/index', advertisements: @advertisements %>
	</div>
</div>