<div class="ui grid">

  <div class="three wide column">
    <% if sponsor_signed_in? %>
      <%= render 'sponsors/sidebar', sponsor: current_sponsor %>
    <% elsif driver_signed_in? %>
      <%= render "drivers/sidebar", driver: current_driver %>
    <% end %>

    <%= render "advertisements/genre_templete", genres: @genres %>
  </div>

  <div class="twelve wide column">
    <%= render "advertisements/index", advertisements: @advertisement %>
  </div>
</div>

