<table class="table">
	<tr id="none-border">
		<td class="text-center image-circle">
      <%= image_tag sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
		</td>
	</tr>
	<tr id="none-border">
		<td class="text-center">
			<%= sponsor.company_name %> さん
		</td>
	</tr>
</table>