<table class="ui table">
  <tr class="no-border">
    <td class="center aligned">
      <%= image_tag sponsor.company_image.variant(resize_to_fill: [200, 200]) %>
    </td>
  </tr>
  <tr class="no-border">
    <td class="center aligned">
      <%= sponsor.company_name %> さん
    </td>
  </tr>
</table>