<div id="chats">
  <% @chats.each do |chat| %>
    <% if chat.user_type == 'driver' %>
      <div class="ui message">
        <div class="content">
          <p><%= chat.message %></p>
          <div class="timestamp">
            <%= chat.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="ui message">
        <div class="content">
          <p><%= chat.message %></p>
          <div class="timestamp right floated">
            <%= chat.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

