<table class="table">
  <tr id="none-border">
    <td class="text-center">
      <%= image_tag driver.profile_image.variant(resize_to_fill: [200, 200]) %>
    </td>
  </tr>

  <tr id="none-border">
    <td class="text-center">
      <%= driver.name %> さん
    </td>
  </tr>

  <% if current_driver == driver %>
  <tr id="none-border">
    <td class="text-center">
      <%= link_to edit_driver_path(current_driver), class: "btn01",data: {"turbolinks" => false} do %><span>ドライバー情報 編集</span><% end %>
    </td>
  </tr>
  <% end %>
</table>