/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "semantic-ui";

/* Google Map*/
#map {
  width:390px;
  height:480px;
  margin-bottom:20px;
}

header {
  border-bottom: 2px solid #e5e5e5; /* グレーの線 */
  margin-bottom: 20px; /* 余白を追加して、線と次のコンテンツとの間にスペースを作る */
}

footer {
  border-top: 2px solid #e5e5e5; /* グレーの線 */
  margin-top: 20px; /* 余白を追加して、線と前のコンテンツとの間にスペースを作る */
  padding-top: 20px; /* 内側の余白を追加して、線とフッダーコンテンツとの間にスペースを作る */
}



