// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flow-img {
  text-align: center;
}

.sponscar_advertisement {
  text-align: center;
}

.small-flow-img {
  height: 500px;
  width: 900px;
  text-align: center;
}