// Place all the styles related to the under_deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-input {
  flex-grow: 1;
  margin-right: 1rem;
}

.bordered-content {
  border: 1px solid #d4d4d5;  
  border-radius: 3px;         
  padding: 1rem;              
}

.text-center {
  text-align: center;
}

.centered-image {
  text-align: center;
}

.centered-image img {
  display: inline-block;
}

.centered-content {
  text-align: center;
}

.ui.table td {
  text-align: center;
}


#update_img {
  display: none;
}

.custom-file-label {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
  display: block;      
  margin: 0 auto;      
  text-align: center;  
  width: 168px;         
  margin-bottom: 5px;
}
