<% if driver_signed_in? %>
  <% if driver.is_active == false %>
    <div class="ui negative message" style="text-align: center;">
      <i class="close icon"></i>
      <div class="header">現在、会員サービスが停止中です。</div>
      <p>詳しくは運営までお問い合わせください。</p>
    </div>
  <% end %>

  <% if driver.transfer_infos.blank? && driver.car_infos.blank? %>
    <div class="ui warning message" style="text-align: center;">
      <div class="header">口座情報・車両情報が未登録です。</div>
      <p>お取引を始める前に「口座情報・車両情報」から登録してください。</p>
    </div>
  <% elsif driver.transfer_infos.blank? %>
    <div class="ui warning message" style="text-align: center;">
      <div class="header">口座情報が未登録です。</div>
      <p>お取引を始める前に「口座情報」から登録してください。</p>
    </div>
  <% elsif driver.car_infos.blank? %>
    <div class="ui warning message" style="text-align: center;">
      <div class="header">車両情報が未登録です。</div>
      <p>お取引を始める前に「車両情報」から登録してください。</p>
    </div>
  <% end %>
<% end %>

<% if sponsor_signed_in? %>
  <% if sponsor.is_active == false %>
    <div class="ui negative message" style="text-align: center;">
      <i class="close icon"></i>
      <div class="header">現在、会員サービスが停止中です。</div>
      <p>詳しくは運営までお問い合わせください。</p>
    </div>
  <% end %>
<% end %>
